body{
font-family: Arial, sans-serif;
background: linear-gradient(to right, #74ebd5, #acb6e5);
margin:0;
padding:0;
text-align:center;
}

h2{
background:#2c3e50;
color:white;
padding:15px;
margin:0;
}

input{
padding:10px;
margin:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

table{
margin:auto;
margin-top:20px;
border-collapse:collapse;
width:60%;
background:white;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

th{
background:#34495e;
color:blanchedalmond;
padding:12px;
}

td{
padding:10px;
border:1px solid #ddd;
}

tr:nth-child(even){
background:#f2f2f2;
}

tr:hover{
background:#eaf2f8;
}